html {
  box-sizing: border-box;
  background-color: rgb(116, 116, 116);
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator {
  width: 400px;
  border-radius: 15px;
  border: 2px black solid;
  padding: 20px;
  background-color: rgb(129, 95, 160);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 75vh;
}

.display {
  text-align: right;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: white;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

button.equals {
  grid-column: 3/5;
}

.buttons-grid button {
  padding: 1.325rem 0;
  font-size: 1.325rem;
  border-radius: 5px;
}

.buttons-grid button:hover {
  background-color: rgb(145, 145, 145);
}

.buttons-grid button:active {
  background-color: rgb(182, 182, 182);
}

#allclear:hover,
#clear:hover {
  background-color: red;
}

#allclear:active,
#clear:active {
  background-color: lightcoral;
}

#equals:hover {
  background-color: greenyellow;
}

#equals:active {
  background-color: rgb(216, 255, 158);
}
.user-input {
  min-height: 30px;
  font-size: 20px;
}

.result {
  min-height: 60px;
  font-size: 40px;
}
